<div class="breadcrumb-area mb-70">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-wrap">
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#!">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Tài khoản của tôi</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-account-wrapper pb-20">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <main id="primary" class="site-main">
                    <div class="user-dashboard pb-50">
                        <div class="user-info mb-30">
                            <div class="row align-items-center no-gutters">
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="single-info">
                                        <p class="user-name">Xin chào <span>NAME</span> <br>không phải NAME? <a
                                                class="log-out" href="#!login">Đăng xuất</a></p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                    <div class="single-info">
                                        <p>Cần sự trợ giúp? Liên hệ: <a href="#">nghienecomm@gmail.com</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12 col-md-4 col-lg-2 col-xl-4">
                                    <div class="single-info justify-content-lg-center">
                                        <a class="btn btn-secondary" href="#!cart">Xem giỏ hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end of user-info -->

                        <div class="main-dashboard">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-2">
                                    <ul class="nav flex-column dashboard-list" role="tablist">
                                        <li>
                                            <button class="nav-link active" id="dashboard-tab" data-bs-toggle="tab"
                                                data-bs-target="#dashboard" type="button" role="tab"
                                                aria-controls="dashboard" aria-selected="true">Bảng điều
                                                khiển</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="orders-tab" data-bs-toggle="tab"
                                                data-bs-target="#orders" type="button" role="tab" aria-controls="orders"
                                                aria-selected="false">Đơn hàng</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="account-details-tab" data-bs-toggle="tab"
                                                data-bs-target="#account-details" type="button" role="tab"
                                                aria-controls="account-details" aria-selected="false">Thông tin tài
                                                khoản</button>
                                        </li>
                                        <li>
                                            <button class="nav-link" id="downloads-tab" data-bs-toggle="tab"
                                                data-bs-target="#downloads" type="button" role="tab"
                                                aria-controls="downloads" aria-selected="false">Thêm sản
                                                phẩm</button>
                                        </li>
                                        <li>
                                            <a class="nav-link" href="#!login">Đăng xuất</a>
                                        </li>
                                    </ul> <!-- end of dashboard-list -->
                                </div>

                                <div class="col-12 col-sm-12 col-md-12 col-lg-10">
                                    <!-- Tab panes -->
                                    <div class="tab-content dashboard-content">
                                        <div id="dashboard" class="tab-pane fade show active" role="tabpanel"
                                            aria-labelledby="dashboard-tab">
                                            <h3>Sản phẩm của tôi </h3>
                                            <table class="table table-bordered dt-responsive nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>Loại sản phẩm</th>
                                                        <th>Hãng</th>
                                                        <th>Tên sản phẩm</th>
                                                        <th>Giá</th>
                                                        <th>Mã sản phẩm</th>
                                                        <th>Ảnh</th>
                                                        <th>Tuỳ chọn</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>ABC</td>
                                                        <td>DEF</td>
                                                        <td>Điện thoại</td>
                                                        <td>3.000.000 vnđ</td>
                                                        <td>None</td>
                                                        <td>12.jpg</td>
                                                        <td class="d-flex justify-content-around">
                                                            <a href="#">
                                                                <i class="lnr lnr-pencil"></i>
                                                            </a><a href="#">
                                                                <i class="lnr lnr-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> <!-- end of tab-pane -->
                                        <div id="orders" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="orders-tab">
                                            <h3>Đơn hàng</h3>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>STT</th>
                                                            <th>Ngày</th>
                                                            <th>Trạng</th>
                                                            <th>Tổng</th>
                                                            <th>Hành động</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>1</td>
                                                            <td>September 10, 2019</td>
                                                            <td>Processing</td>
                                                            <td>$25.00 for 1 item </td>
                                                            <td><a class="btn btn-secondary" href="#!cart">Xem</a>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>2</td>
                                                            <td>October 4, 2019</td>
                                                            <td>Processing</td>
                                                            <td>$17.00 for 1 item </td>
                                                            <td><a class="btn btn-secondary" href="#!cart">view</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div> <!-- end of tab-pane -->
                                        <div id="account-details" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="account-details-tab" ng-app="myApp" ng-controller="myCtrl">
                                            <h3>Thông tin tài khoản </h3>
                                            <div class="login-form">
                                                <form action="#">
                                                    <div class="form-group row mb-3 d-none">
                                                        <label for="f-name"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">ID</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="f-name"
                                                                ng-model="userdata.id" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="l-name"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Tài
                                                            khoản</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="l-name"
                                                                ng-model="userdata.username" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="u-name"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Họ
                                                            và tên</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="u-name"
                                                                ng-model="userdata.fullname" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="a-name"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Số
                                                            điện thoại</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="a-name"
                                                                ng-model="userdata.phone" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="b-name"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Địa
                                                            chỉ</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="b-name"
                                                                ng-model="userdata.address" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="inputpassword"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mật
                                                            khẩu hiện tại</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="password" class="form-control"
                                                                ng-model="userdata.password" id="inputpassword"
                                                                required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="newpassword"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mật
                                                            khẩu mới</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="password" class="form-control"
                                                                id="newpassword">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="c-password"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Xác
                                                            nhận mật khẩu mới</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="password" class="form-control" id="c-password">
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="email"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Email</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="email"
                                                                ng-model="userdata.email" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row mb-3">
                                                        <label for="birth"
                                                            class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Ngày
                                                            sinh
                                                            (Không bắt buộc)</label>
                                                        <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                            <input type="text" class="form-control" id="birth"
                                                                ng-model="userdata.birthday | date: 'dd/MM/yyyy'"
                                                                placeholder="DD / MM / YYYY" required>
                                                        </div>
                                                    </div>
                                                    <div class="form-check row p-0 mt-5">
                                                        <div
                                                            class="col-12 col-sm-12 col-md-8 offset-md-4 col-lg-6 offset-lg-3">
                                                            <div class="custom-checkbox">
                                                                <input class="form-check-input" type="checkbox"
                                                                    id="offer">
                                                                <span class="checkmark"></span>
                                                                <label class="form-check-label" for="offer">Đăng ký nhận
                                                                    ưu đãi từ chúng tôi</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="register-box d-flex justify-content-end mt-half">
                                                        <button type="submit" class="btn btn-secondary"
                                                            ng-click="update()">Cập nhật</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div id="downloads" class="tab-pane fade" role="tabpanel"
                                            aria-labelledby="address-tab">
                                            <h3>Thêm sản phẩm</h3>
                                            <form action="#">
                                                <div class="form-group row mb-3">
                                                    <label for="prod-categories"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Loại
                                                        sản phẩm</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <select class="form-control" id="prod-categories">
                                                            <option value="1">SP1</option>
                                                            <option value="2">SP2</option>
                                                            <option value="3">SP3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="prod-companies"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Hãng</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <select class="form-control" id="prod-companies">
                                                            <option value="1">H1</option>
                                                            <option value="2">H2</option>
                                                            <option value="3">H3</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="prod-name"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Tên
                                                        sản phẩm</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="text" class="form-control" id="prod-name" required>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="prod-price"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Giá</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="text" class="form-control" id="prod-price"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="prod-discount"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mã
                                                        giảm giá</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="text" class="form-control" id="prod-discount"
                                                            required>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="prod-description"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Mô
                                                        tả</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <textarea name="" id="" rows="4" class="form-control"
                                                            id="prod-description" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row mb-3">
                                                    <label for="prod-img"
                                                        class="col-12 col-sm-12 col-md-4 col-lg-3 col-form-label">Ảnh</label>
                                                    <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                                                        <input type="file" class="form-control" id="prod-img"
                                                            accept="image/*" multiple>
                                                    </div>
                                                </div>
                                                <div class="register-box d-flex justify-content-end mt-half">
                                                    <button type="submit" class="btn btn-secondary">Thêm</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
</div>