<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Danh sách người dùng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Người dùng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <table class="table table-bordered" data-paging="true" data-filtering="true">
                        <thead>
                            <tr>
                                <th>Tên người dùng</th>
                                <th>Mật khẩu</th>
                                <th>Họ và tên</th>
                                <th>Điện thoại</th>
                                <th>Ngày sinh</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Tham gia ngày</th>
                                <th>Cập nhật ngày</th>
                                <th>Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in filteredItems">
                                <td>{{item.username}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.fullname}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.birthday | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.createdat | date: 'HH:mm - dd/MM/yyyy'}}</td>
                                <td>{{item.updatedat | date: 'HH:mm - dd/MM/yyyy'}}</td>
                                <td>
                                    <!-- <a href="javascript:void(0);" ng-click="edit(item)"> -->
                                    <a href="admin/#!/user-form" ng-click="edit(item)">
                                        <i class="las la-pen text-info"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 ">Đang xem <b>{{curPage}}</b> đến <b>{{itemsPerPage}}</b> trong tổng số
                            <b>{{items.length}}</b> mục
                        </div>
                        <div class="col-sm-6 pagination-sm" uib-pagination total-items="items.length" max-size="maxSize"
                            ng-model="curPage" rotate="false"></div>
                    </div>

                    <div class="modal  fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="title"
                        aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h6 class="modal-title m-0" id="title">Quản lý người dùng</h6>
                                    <button type="button" class="close " data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true"><i class="la la-times"></i></span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="form" name="form">
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <input class="dropify dropify-event" type="file"
                                                                    ng-src="{{'/assets/images/'+form.image}}" />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Tên người
                                                                dùng</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="text"
                                                                    ng-model="form.username">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Mật khẩu</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="password"
                                                                    ng-model="form.password">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Họ và tên</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="text"
                                                                    ng-model="form.fullname">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Điện thoại</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="tel"
                                                                    ng-model="form.phone">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Ngày sinh</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="date"
                                                                    ng-model="form.birthday" firebase-date>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Email</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="email"
                                                                    ng-model="form.email">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-4 col-form-label">Địa chỉ</label>
                                                            <div class="col-sm-8">
                                                                <input class="form-control" type="text"
                                                                    ng-model="form.address">
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer text-right">
                                            <button ng-click="create()" class="btn btn-primary">
                                                <i class="fas fa-plus"></i> Create
                                            </button>
                                            <button ng-click="update()" class="btn btn-success">
                                                <i class="far fa-save"></i> Update
                                            </button>
                                            <button ng-click="delete(form)" class="btn btn-danger">
                                                <i class="fas fa-trash"></i> Delete
                                            </button>
                                            <button ng-click="reset()" class="btn btn-secondary">
                                                <i class="fas fa-redo"></i> Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>