<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Danh sách người dùng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Người dùng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body table-responsive">
                    <div class="row my-3">
                        <div class="col-sm-6 form-inline justify-content-start">
                            <label class="pr-2">Tìm kiếm:</label>
                            <input type="text" class="form-control" ng-model="search" placeholder="Nhập tìm kiếm..." />
                        </div>
                        <div class="col-sm-6 form-inline justify-content-end">
                            <label class="pr-2">Tìm kiếm:</label>
                            <input type="text" class="form-control" ng-model="search" placeholder="Nhập tìm kiếm..." />
                        </div>
                    </div>
                    <table class="table table-bordered" data-paging="true" data-filtering="true">
                        <thead>
                            <tr>
                                <th class="d-none">ID người dùng</th>
                                <th>Tên người dùng</th>
                                <th>Mật khẩu</th>
                                <th>Họ và tên</th>
                                <th>Điện thoại</th>
                                <th>Ngày sinh</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Tham gia ngày</th>
                                <th>Cập nhật ngày</th>
                                <th>Hình ảnh</th>
                                <th>Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in filteredItems | filter:search">
                                <td class="d-none">{{item.id}}</td>
                                <td>{{item.username}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.fullname}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.birthday | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.createdat | date: 'HH:mm - dd/MM/yyyy'}}</td>
                                <td>{{item.updatedat | date: 'HH:mm - dd/MM/yyyy'}}</td>
                                <td>{{item.image}}</td>
                                <td>
                                    <a href="admin/#!/user-form" ng-click="edit(item)">
                                        <i class="las la-pen text-info"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-sm-6 ">Đang xem <b>{{curPage}}</b> đến <b>{{itemsPerPage}}</b> trong tổng số
                            <b>{{items.length}}</b> mục
                        </div>
                        <div class="col-sm-6 pagination-sm" uib-pagination total-items="items.length" max-size="maxSize"
                            ng-model="curPage" rotate="false"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>