<div class="container-fluid" ng-if="items">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-title-box">
                <div class="row">
                    <div class="col">
                        <h4 class="page-title">Danh sách người dùng</h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">Trang chủ</li>
                            <li class="breadcrumb-item">Người dùng</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table id="datatable" class="table table-bordered dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Tên người dùng</th>
                                <th>Mật khẩu</th>
                                <th>Họ và tên</th>
                                <th>Điện thoại</th>
                                <th>Ngày sinh</th>
                                <th>Email</th>
                                <th>Địa chỉ</th>
                                <th>Tham gia ngày</th>
                                <th>Cập nhật ngày</th>
                                <th>Tuỳ chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- <tr ng-repeat="item in pager.items">
                                <td>{{item.username}}</td>
                                <td>{{item.password}}</td>
                                <td>{{item.fullname}}</td>
                                <td>{{item.phone}}</td>
                                <td>{{item.birthday | date: 'dd/MM/yyyy'}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.address}}</td>
                                <td>{{item.createdat | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                <td>{{item.updatedat | date: 'dd/MM/yyyy - HH:mm'}}</td>
                                <td class="text-center">
                                    <a href="#!user-form" ng-click="edit(item)"
                                        class="mr-2">
                                        <i class="las la-pen text-info font-18"></i>
                                    </a>
                                </td>
                            </tr>
                            <td class="text-center">
                                <a href="#!user-form" ng-click="edit(item)" class="mr-2">
                                    <i class="las la-pen text-info font-18"></i>
                                </a>
                            </td> -->
                        </tbody>
                    </table>
                    <!-- <div class="text-center">
                        <button ng-click="pager.first()" class="btn btn-danger">
                            <i class="fas fa-arrow-to-left"></i>
                        </button>
                        <button ng-click="pager.prev()" class="btn btn-primary">
                            <i class="fas fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-success">{{pager.page+1}} of {{pager.count?pager.count:'1'}}</button>
                        <button ng-click="pager.next()" class="btn btn-primary">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                        <button ng-click="pager.last()" class="btn btn-danger">
                            <i class="fas fa-arrow-to-right"></i>
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>